@font-face {
  font-family: 'Athelas';
  src: url('../fonts/Athelas-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Athelas';
  src: url('../fonts/Athelas-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Apple Chancery';
  src: url('../fonts/Apple Chancery Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
